<mat-nav-list class= "sidenav-list">
    <a mat-list-item routerLink="/signin">
        <mat-icon>input</mat-icon>
        <Span>S'identifier</Span>
    </a>
    <a mat-list-item routerLink="/signup">
        <mat-icon>account_circle</mat-icon>
        <Span>S'inscrire</Span>
    </a>
    <a mat-list-item routerLink="/accomodation">
        <mat-icon>hotel</mat-icon>
        <Span>Hebergement</Span>
    </a>
    <a mat-list-item routerLink="/offers">
        <mat-icon>loyalty</mat-icon>
        <Span>Offres</Span>
    </a>
</mat-nav-list>